{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Lattes</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>

<body>
    <header>
        <img src="{% static 'imagens/icone-lattesunespar.png' %}" alt="logo lattes unespar" style="margin: 10px;">
        <h1>Producões</h1>
        <nav>
            <a href="{% url 'index' %}">Início</a>
            <a href="#">Pessoas</a>
            <a href="{% url 'lattes:producoes' %}">Produções</a>
            <a href="#">Projetos</a>
        </nav>
    </header>
    <section>
        <main>
           {% block main %}
           {% endblock %}
        </main>
        <aside>
            <h2><i class="fa fa-search"></i> Filtros</h2>
            {% block aside %}
            {%  endblock %}
        </aside>
    </section>
</body>

</html>