{% extends 'lattes/layout.html' %}

{% block main %}
<div id="grid-main">
    <canvas id="myChart"></canvas>
</div>
<script>
    var ctx = document.getElementById('myChart');
    var defaultData = {{ total }};
    var labels = {{ anos }};
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: '# de Produção',
                data: defaultData,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}
{% block aside %}
<h2><i class="fas fa-search"></i> Filtros</h2>
<form method="GET">
    <div id="filtroTitulo">
        <div class="drop-bnt">
            <h3>Titulo <i class="fas fa-caret-down"></i></h3>
        </div>
        <div class="wrapper">
            <p>Titulo:{{producoes_filtradas.form.titulo__contains}}</p>
        </div>
    </div>
    <div id="filtroTipo">
        <div class="drop-bnt">
            <h3>Tipo <i class="fa fa-caret-down"></i></h3>
        </div>
        <div class="wrapper">
            <p>Tipo:{{producoes_filtradas.form.tipo__contains}}</p>
        </div>
    </div>
    <div id="filtroAno">
        <div class="drop-bnt">
            <h3>Ano Produção <i class="fas fa-caret-down"></i></h3>
        </div>
        <div class="wrapper">
            <p>Ano partir de: {{producoes_filtradas.form.ano__gte}} até:
                {{producoes_filtradas.form.ano__lte}}</p>
        </div>
    </div>
    <div id="filtroInformadoPor">
        <div class="drop-bnt">
            <h3>Informado Por <i class="fas fa-caret-down"></i></h3>
        </div>
        <div class="wrapper">
            <p>informado por:{{producoes_filtradas.form.informadoPor__contains}}</p>
        </div>
    </div>
    <input type="submit" value="Buscar">
    <a href="?" class="botao">Limpar</a>
</form>
<script>
    function f(element, index) {
        element.onclick = (() => {
            wrapper[index].classList.toggle("show");
        });
    }
    const list = document.querySelectorAll('.drop-bnt').forEach(f);
    const wrapper = document.querySelectorAll(".wrapper");
</script>
{% endblock %}