body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

#grid-page a{
    text-decoration: none;
    color: black;
}

p, h2 {
    text-align: center;
}

nav a {
    color: white;
    margin: 5px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}
nav a:hover {
    color: white;
}

.imagem {
    margin: 10px auto 20px;
    display: block;
}

#grid-header {
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto;
}

#grid-page {
    display: grid;
    padding: 20px;
    margin: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.grid-item-header {
    padding: 20px;
}

.grid-item-page {
    height: 260px;
    padding: 20px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}

section {
    display: flex;
    flex-direction: row;
}

main {
    background-color: whitesmoke;
    flex: 1;
    width: 80vw;
}

aside {
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 20vw;
}

aside h3 {
    text-align: center;
    margin: 20px 10px 20px 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#head {
    background-color: white;
}

#head p {
    padding: 10px;
}

/* dropdown menu*/

.wrapper {
    display: none;
}

.wrapper.show {
    display: block;
}

#grid-main {
    background-color: white;
    margin: 50px;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto;
}

.grid-item {
    margin: 5px;
    padding: 10px;
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.grid-item p {
    text-align: left;
}

#Paginator {    
    margin: 0 auto 0;
    display: flex;
}

#Paginator input{
    width: 50px;
}

#Paginator form, a{
    margin: 5px 5px 0 5px;
}

#filtroAno input{
    width: 60px;
}

#filtroInformadoPor input{
    width: 180px;
}

aside input[type=submit]{
    background-color: black;
    color: white;
    margin: 10px 0 0 10px;
    width: 80px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
    display: inline-block;
}

aside input[type=submit]:hover{
    background-color: gray;
    color: white;
 }

.botao:link, .botao:visited {
    background-color: black;
    color: white;
    text-align: center;
    margin: 10px 0 0 10px;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    padding-top: 5px;
    text-decoration: none;
    display: inline-block;
  }

  .botao:hover{
    background-color: gray;
    color: white;
 }
