{% extends "lattes/layout.html" %}
{% load static %}
{% load lattes_extras %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/pessoas.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block main %}
<div class="card-header">
    <h1 class="h3 mb-3">Pessoas</h1>
    <p style="text-align: center;">Foram encontrados {{length}} resultados</p>
</div>

<div class="w3-Container" style="margin-right: 25px;">
    <ul class="w3-ul w3-card-4">
        <li class="w3-bar">
            <p style="margin: 10px; color: grey; font-style: italic;"> Atualizado dia: 12/05/2020 </p>
            <div class="w3-bar">
                <div class="w3-bar-item">
                    <img class="curriculos-circleImage" src="{% static 'imagens/renatoBalancieri.jpg' %}">
                </div>


                <div class="w3-bar-item;
                    word-break: break-all;
                    white-space: normal;">

                    <span class="w3-large" style="font-weight: 700; font-style: italic;">Renato Balancieri</span><br>
                    <span>Doutorado</span><br>
                    <span>SERVIDOR_PUBLICO</span><br>
                    <span></span>
                </div>
            </div>
            <div class="w3-bar-item w3-right">
                <button class="accordion">Visualizar</button>
                <div class="accordion-body panel">
                    <p>Renato Balancieri possui graduação em Ciência da Computação pela Universidade Estadual de Maringá
                        (2000), mestrado em Engenharia de Produção - área de concentração em Inteligência Aplicada -
                        pela Universidade Federal de Santa Catarina (2004) e doutorado em Engenharia e Gestão do
                        Conhecimento pela Universidade Federal de Santa Catarina (2010). Atualmente é Professor do Curso
                        de Ciência da Computação da Universidade Estadual do Paraná - Campus Apucarana. Tem experiência
                        na área Ciência da Computação, atuando principalmente nos seguintes temas: Engenharia de
                        Software, Computação Aplicada à Saúde, Desenvolvimento Distribuído de Software e Melhoria do
                        Processo de Desenvolvimento de Software. Gerado pelo Sistema Interlattes CV-Resumé</p>
                </div>
            </div>
        </li>
        <li class="w3-bar">
            <p style="margin: 10px; color: grey; font-style: italic;"> Atualizado dia: 12/05/2020 </p>
            <div class="w3-bar">
                <div class="w3-bar-item">
                    <img src="{% static 'imagens/cernev.jpg' %}" class="curriculos-circleImage">
                </div>


                <div class="w3-bar-item;
                word-break: break-all;
                white-space: normal;">

                    <span class="w3-large" style="font-weight: 700; font-style: italic;">Renato Balancieri</span><br>
                    <span>Mestrado em Antropologia Social - Universidade Estadual de Campinas - 2004</span><br>

                    <span>SERVIDOR_PUBLICO</span><br>
                    <span>SERVIDOR_PUBLICO desde 2018</span>
                </div>
            </div>
            <div class="w3-bar-item w3-right">
                <button class="accordion">Visualizar</button>
                <div class="accordion-body panel">
                    <p>Graduado em Ciências Sociais (UEL), graduado em Análise e Desenvolvimento de Sistemas
                        (UTFPR/Unopar), especialista em Tecnologias para Aplicações Web (Unopar), mestre em Antropologia
                        Social (Unicamp). Professor assistente na Universidade Estadual do Paraná (UNESPAR), campus
                        Apucarana.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="card-footer">
    <div class="paginator">
        {% if Pessoas_page.has_previous %}
        <a href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fas fa-angle-double-left"></i></a>
        <a href="{% my_url Pessoas_page.previous_page_number 'page' request.GET.urlencode %}"><i
                class="fas fa-angle-left"></i></a>
        {% endif %}
        <form method="GET">
            <input type="number" name="page" placeholder="{{Pessoas_page.number}}"> /
            {{Pessoas_page.paginator.num_pages}}
        </form>
        {% if Pessoas_page.has_next %}
        <a href="{% my_url Pessoas_page.next_page_number 'page' request.GET.urlencode %}"><i
                class="fas fa-angle-right"></i></a>
        <a href="{% my_url Pessoas_page.paginator.num_pages 'page' request.GET.urlencode %}"><i
                class="fas fa-angle-double-right"></i></a>
        {% endif %}
    </div>
</div>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
{% endblock %}