{% extends "lattes/layout.html" %}
{% load static %}
{% load lattes_extras %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/pessoas.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block main %}
<div class="card-header">
    <h1 class="h3 mb-3">Pessoas</h1>
    <p style="text-align: center;">Foram encontrados {{length}} resultados</p>
</div>

<div class="w3-Container" style="margin-right: 25px;">
    <ul class="w3-ul w3-card-4">
    {% for pessoa in Pessoas_page %}
        <li class="w3-bar">
            <p style="margin: 10px; color: grey; font-style: italic;"> Atualizado dia: {{pessoa.ultimaAtualizacao}} </p>
            <div class="w3-bar">
                <div class="w3-bar-item">
                    <img class="curriculos-circleImage" src={{pessoa.srcImage}}>
                </div>


                <div class="w3-bar-item;
                    word-break: break-all;
                    white-space: normal;">

                    <span class="w3-large" style="font-weight: 700; font-style: italic;">{{pessoa.nome}}</span><br>
                    <span>{{pessoa.formacao}} - {{pessoa.instituicaoEmQueSeFormou}} - {{pessoa.anoDeFormacao}}</span><br>
                    <span>{{pessoa.titulo}}</span><br>
                    <span>{{pessoa.tipoVinculo}} desde {{pessoa.anoQueIngressouNoCampus}}</span><br>
                    <span></span>
                </div>
            </div>
            <div class="w3-bar-item w3-right">
                <button class="accordion">Visualizar</button>
                <div class="accordion-body panel">
                    <p>{{pessoa.descricao}}</p>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
<div class="card-footer">
    <div class="paginator">
        {% if Pessoas_page.has_previous %}
        <a href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fas fa-angle-double-left"></i></a>
        <a href="{% my_url Pessoas_page.previous_page_number 'page' request.GET.urlencode %}"><i
                class="fas fa-angle-left"></i></a>
        {% endif %}
        <form method="GET">
            <input type="number" name="page" placeholder="{{Pessoas_page.number}}"> /
            {{Pessoas_page.paginator.num_pages}}
        </form>
        {% if Pessoas_page.has_next %}
        <a href="{% my_url Pessoas_page.next_page_number 'page' request.GET.urlencode %}"><i
                class="fas fa-angle-right"></i></a>
        <a href="{% my_url Pessoas_page.paginator.num_pages 'page' request.GET.urlencode %}"><i
                class="fas fa-angle-double-right"></i></a>
        {% endif %}
    </div>
</div>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
{% endblock %}