{% extends 'lattes/layout.html' %}
{% load lattes_extras %}

{% block main %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3 mb-3">Produções</h1>
                    <p style="text-align: center;">Foram encontrados {{producoes_filtradas.qs | length}} resultados</p>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for producao in Producao_page %}
                        <li class="list-group-item">
                            <p>
                                Titulo: <b>{{ producao.titulo | title}}</b> <br>
                                Tipo: {{producao.tipo }} <br>
                                Tipo Agrupador: {{ producao.tipoAgrupador }} <br>
                                Informado por: {{ producao.informadoPor }} <br>
                                Ano: {{ producao.ano }}
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="paginator">
                        {% if Producao_page.has_previous %}
                        <a href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fas fa-angle-double-left"></i></a>
                        <a href="{% my_url Producao_page.previous_page_number 'page' request.GET.urlencode %}"><i
                                class="fas fa-angle-left"></i></a>
                        {% endif %}
                        <form method="GET">
                            <input type="number" name="page" placeholder="{{Producao_page.number}}"> /
                            {{Producao_page.paginator.num_pages}}
                        </form>
                        {% if Producao_page.has_next %}
                        <a href="{% my_url Producao_page.next_page_number 'page' request.GET.urlencode %}"><i
                                class="fas fa-angle-right"></i></a>
                        <a href="{% my_url Producao_page.paginator.num_pages 'page' request.GET.urlencode %}"><i
                                class="fas fa-angle-double-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block filtro %}
<form method="GET">
    <li>
        <div class="drop-bnt">
            Titulo <i class="fas fa-angle-down"></i>
        </div>
        <div class="wrapper">
            Titulo:{{producoes_filtradas.form.titulo__contains}}
        </div>
    </li>
    <li>
        <div class="drop-bnt">
            Tipo <i class="fa fa-angle-down"></i>
        </div>
        <div class="wrapper">
            Tipo:{{producoes_filtradas.form.tipo__contains}}
        </div>
    </li>
    <li>
        <div class="drop-bnt">
            Ano Produção <i class="fas fa-angle-down"></i>
        </div>
        <div class="wrapper" id="filtroAno">
            Ano partir de: {{producoes_filtradas.form.ano__gte}} até:
            {{producoes_filtradas.form.ano__lte}}
        </div>
    </li>
    <li>
        <div class="drop-bnt">
            Informado Por <i class="fas fa-angle-down"></i>
        </div>
        <div class="wrapper">
            informado por:{{producoes_filtradas.form.informadoPor__contains}}
        </div>
    </li>
    <div class="submit">
        <input type="submit" value="Buscar" class="btn btn-light">
        <button type="button" class="btn btn-light" onclick="Limpar()">Limpar</button>
    </div>
</form>
{% endblock %}